* {
    
    margin: 0px;
    padding: 2px;

}


nav {
    background-color: rgb(189, 228, 189);
    height: 80px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
    li {display: inline-block;}
        

    a {
      text-decoration: none; 
      color:rgb(70, 52, 52);
      justify-content:space-between;
      font-size: 20px;
      font-weight: bold; 
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
       
    }
   .nav a{
    display:inline-flex;
    align-items:flex-start;
    color:rgb(192, 22, 22)
    
   


   }

    .nav ul li a {
        color:black;
      

    }

    .page-footer {
        background-color: rgb(189, 228, 189);
        display:flex;
        align-content: end;
        
    }
    
   