@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');

* {
    margin: 0px;
    padding: 2px;

}

nav {
    background-color: rgb(189, 228, 189);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .dtox {
        text-shadow: 0px 4px 4px #282828;
    }

    a {
        color: black;
        font-family: 'Source Code Pro', monospace;
        font-size: 20px;
        margin: auto 50px;

        :hover {
            color: white;
            font-weight: 600;
        }
    }
}


.page-footer {
    background-color: rgb(189, 228, 189);
    display: flex;
    align-content: end;

    h5 {
        font-family: 'Source Code Pro', monospace;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-family: 'Source Code Pro', monospace;
        font-size: 30px
    }
}

.video {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home h1 {
    font-size: 500px;
    z-index: 1;
    position: absolute;
    color: white;
    margin: 20vh 20vh 20vh 20vh;
    font-family: 'Source Code Pro', monospace;
}

#foodQuote {
    color: grey;
    font-family: 'Passions Conflict', cursive;
    text-align: center;
    background-color:rgb(234, 255, 234);
    margin: 0;
}

#foodPage-container {
    background-color: rgb(234, 255, 234);
    display: flex;

    #food {
        display: inline-block;
        #chemFood {
            text-align: center;
            font-size: 40px;
            
    }

    .foodAlt {
        display: inline-block;
        #foodAltTitle {
            font-size: 40px;
        }
    }
}

}

#foodimg {
    width: 400px;
    height: 400px;
    border-radius: 90px;
    object-fit: cover;
}



























































































.productDiv {
    // border: solid rgb(189, 228, 189) 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color:rgb(253, 250, 244);

    img {
        width: 200px;
        border-radius: 20px;
    }
    h2 {
        font-size: 30px;
    }
}

.productContainer {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px;
}

.showContainer {
    background: linear-gradient(0.25turn, #c4d6ed, #e8e7e7, #d5f2bf);
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    h1 {
        font-size: 40px;
        margin: 20px 60px;
        text-align: center;
    }
    h5 {
        font-size: 20px;
        margin: 60px 60px;
        font-family: 'Judson', serif;
    }
}